In [1]:
import pandas as pd
import os
from AUIDFunctions import *

In [2]:
df = pd.read_csv("../input/salary.csv")
df.head()

,Year,Age.at.Hire,Title,Org.Date,Gender,SPP.Date,Salary,Start.Date,Pay.Grade,Employee.Status,Last.Name,Suffix.Name,First.Name,Middle.Initial
0,2013,25.0,POLICE OFFICER,2016-06-16,MALE,1986-07-14,86130.0,1986-07-14,D|1,CAREER SERVICE,CLEARY,NaN,MICHAEL,P
1,2013,25.0,POLICE OFFICER,2014-03-17,MALE,2006-07-31,75372.0,2006-07-31,D|1,CAREER SERVICE,LARSON,JR,ROBERT,J
2,2013,26.0,POLICE OFFICER,2013-12-03,MALE,2013-11-04,43104.0,2013-11-04,D|1,PROBATIONARY CAREER SERVICE,ROSSI,NaN,JOSEPH,NaN
3,2013,30.0,POLICE OFFICER,2013-12-02,MALE,2013-12-02,43104.0,2013-12-02,D|1,PROBATIONARY CAREER SERVICE,DORAN,NaN,PATRICK,NaN
4,2013,33.0,POLICE OFFICER,2013-12-02,MALE,2013-12-02,43104.0,2013-12-02,D|1,PROBATIONARY CAREER SERVICE,RAMAKRISHNAN,NaN,KARTIK,NaN

In [4]:
tdf = df.loc[df["Year"]==2002]

In [5]:
tdf

,Year,Age.at.Hire,Title,Org.Date,Gender,SPP.Date,Salary,Start.Date,Pay.Grade,Employee.Status,Last.Name,Suffix.Name,First.Name,Middle.Initial
62756,2002,29.0,POLICE OFFICER,1994-08-01,MALE,1994-08-01,57426.0,1994-08-01,D|1,CAREER SERVICE,TALIAFERRO,NaN,CHRISTOPHE,NaN
62757,2002,30.0,POLICE OFFICER,1994-07-01,MALE,2002-07-29,36984.0,2002-07-29,D|1,PROBATIONARY CAREER SERVICE,CHEREK,NaN,BEN,J
62758,2002,24.0,POLICE OFFICER,1998-07-27,MALE,1998-07-27,54672.0,1998-07-27,D|1,CAREER SERVICE,GAINER,NaN,BRIAN,P
62759,2002,28.0,POLICE OFFICER,1998-07-27,FEMALE,1998-07-27,54672.0,1998-07-27,D|1,CAREER SERVICE,REWERS,NaN,TRACEY,L
62760,2002,32.0,POLICE OFFICER,1990-03-26,MALE,1990-03-26,59412.0,1990-03-26,D|1,CAREER SERVICE,MCGRAW,NaN,PAUL,M
62761,2002,32.0,POLICE OFFICER,2002-03-25,FEMALE,2002-03-25,36984.0,2002-03-25,D|1,PROBATIONARY CAREER SERVICE,PHILP,NaN,DANIELLE,N
62762,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1969-04-19,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,RABBIT,NaN,LOUIS,J
62763,2002,42.0,POLICE OFFICER,1992-12-07,MALE,1992-12-07,59412.0,1992-12-07,D|1,CAREER SERVICE,MURPHY,NaN,JOHNNY,NaN
62764,2002,29.0,POLICE OFFICER,1999-10-25,MALE,1999-10-25,52092.0,1999-10-25,D|1,CAREER SERVICE,KRAUSHAAR,NaN,JEFFREY,D
62765,2002,35.0,POLICE OFFICER,1981-04-13,MALE,1981-04-13,63654.0,1981-04-13,D|1,CAREER SERVICE,POWELL,NaN,EUGENE,NaN
62766,2002,25.0,POLICE OFFICER,1994-08-01,MALE,1994-08-01,57426.0,1994-08-01,D|1,CAREER SERVICE,TROST,NaN,MARK,A
62767,2002,40.0,POLICE OFFICER,2000-02-28,FEMALE,2000-02-28,52092.0,2000-02-28,D|1,CAREER SERVICE,HUTCHINSON,NaN,GERALDINE,NaN
62768,2002,33.0,POLICE OFFICER,1991-12-02,MALE,1991-12-02,59412.0,1991-12-02,D|1,CAREER SERVICE,BROWN,NaN,ALTON,NaN
62769,2002,31.0,POLICE OFFICER,1997-08-04,MALE,1997-08-04,57426.0,1997-08-04,D|1,CAREER SERVICE,MCLOUGHLIN,NaN,NEAL,NaN
62770,2002,33.0,POLICE OFFICER,1992-06-01,FEMALE,1998-06-29,54672.0,1998-06-29,D|1,CAREER SERVICE,CHASE,NaN,DOMINIQUE,D
62771,2002,NaN,SERGEANT,1973-02-19,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,MARSHALL,NaN,MILTON,C
62772,2002,29.0,POLICE OFFICER,1985-09-09,MALE,1985-09-09,61512.0,1985-09-09,D|1,CAREER SERVICE,HEIDT,NaN,JOHN,F
62773,2002,30.0,POLICE OFFICER,1998-07-27,MALE,1998-07-27,54672.0,1998-07-27,D|1,CAREER SERVICE,PENDARVIS,NaN,TYRONE,M
62774,2002,40.0,POLICE OFFICER,1997-09-02,FEMALE,1997-09-02,57426.0,1997-09-02,D|1,CAREER SERVICE,FELSENTHAL,NaN,JULIE,K
62775,2002,30.0,POLICE OFFICER / FLD TRNG OFFICER,1995-07-10,FEMALE,NaN,60312.0,1995-07-10,D|2,CAREER SERVICE,STERLING,NaN,LISA,R
62776,2002,23.0,POLICE OFFICER,1999-10-25,MALE,1999-10-25,52092.0,1999-10-25,D|1,CAREER SERVICE,BENTLEY,NaN,JOEL,A
62777,2002,33.0,POLICE OFFICER,1980-01-28,MALE,1980-01-28,63654.0,1980-01-28,D|1,CAREER SERVICE,JONES,NaN,ROY,E
62778,2002,26.0,POLICE OFFICER,1981-01-19,MALE,1981-01-19,63654.0,1981-01-19,D|1,CAREER SERVICE,SHEEHAN,JR,THOMAS,J
62779,2002,30.0,POLICE OFFICER,1994-08-01,MALE,1994-08-01,57426.0,1994-08-01,D|1,CAREER SERVICE,RAU,JR,RAYMOND,R
62780,2002,24.0,POLICE OFFICER,1991-06-19,FEMALE,1991-06-19,59412.0,1991-06-19,D|1,CAREER SERVICE,DICKENS,NaN,JULIE,NaN
62781,2002,34.0,POLICE OFFICER,1990-03-26,FEMALE,1990-03-26,59412.0,1990-03-26,D|1,CAREER SERVICE,MABERY,NaN,DEBORAH,A
62782,2002,27.0,SERGEANT,1985-12-16,FEMALE,NaN,73632.0,1985-12-16,E|3,CAREER SERVICE,CLEPP,NaN,KATHY,A
62783,2002,40.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1981-05-18,MALE,NaN,68880.0,1983-01-01,D|2A,CAREER SERVICE,AGUILERA,NaN,OSCAR,M
62784,2002,28.0,POLICE OFFICER,1988-12-05,MALE,1988-12-05,59412.0,1988-12-05,D|1,CAREER SERVICE,MITCHELL,JR,CURTIS,E
62785,2002,35.0,POLICE OFFICER,1976-12-02,MALE,1976-04-26,66006.0,1976-04-26,D|1,CAREER SERVICE,OLIVA,NaN,SERGIO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76206,2002,31.0,POLICE OFFICER,1995-01-03,FEMALE,1995-01-03,57426.0,1995-01-03,D|1,CAREER SERVICE,BISHOP,NaN,MARIE,A
76207,2002,33.0,POLICE OFFICER,1997-07-07,MALE,1997-07-07,57426.0,1997-07-07,D|1,CAREER SERVICE,STIFF,NaN,ROSCO,NaN
76208,2002,37.0,POLICE OFFICER,1991-08-01,MALE,1997-03-17,57426.0,1997-03-17,D|1,CAREER SERVICE,BEY,NaN,MORPHEUS,E
76209,2002,30.0,POLICE OFFICER,1998-04-13,MALE,1998-04-13,57426.0,1998-04-13,D|1,CAREER SERVICE,SMITH,JR,LEE,A
76210,2002,32.0,POLICE OFFICER,1982-02-01,MALE,1984-08-01,63654.0,1984-08-01,D|1,CAREER SERVICE,SMITH,NaN,JAMES,L
76211,2002,28.0,POLICE OFFICER,1994-08-01,MALE,1994-08-01,57426.0,1994-08-01,D|1,CAREER SERVICE,COLEMAN,NaN,JEFFREY,L
76212,2002,47.0,POLICE OFFICER,1997-07-07,MALE,1997-07-07,57426.0,1997-07-07,D|1,CAREER SERVICE,ALEXANDER,NaN,PERCY,NaN
76213,2002,39.0,SERGEANT,1989-12-26,FEMALE,NaN,71382.0,1989-12-26,E|3,CAREER SERVICE,DOMINO,NaN,CAROL,R
76214,2002,32.0,POLICE OFFICER / FLD TRNG OFFICER,1982-02-01,FEMALE,NaN,64578.0,1982-02-01,D|2,CAREER SERVICE,VAUGHN,NaN,CAROLL,A
76215,2002,31.0,POLICE OFFICER,1982-02-01,MALE,1982-02-01,63654.0,1982-02-01,D|1,CAREER SERVICE,ROBERTS,NaN,LEVI,NaN
76216,2002,38.0,POLICE OFFICER,1990-08-27,FEMALE,1990-08-27,59412.0,1990-08-27,D|1,CAREER SERVICE,HERRON,NaN,RUBY,NaN
76217,2002,39.0,POLICE OFFICER,1993-11-22,FEMALE,1993-11-22,57426.0,1993-11-22,D|1,CAREER SERVICE,TOWNSEL,NaN,VELVET,J
76218,2002,46.0,POLICE OFFICER,2001-05-29,MALE,2001-05-29,49548.0,2001-05-29,D|1,CAREER SERVICE,THURMAN,NaN,CLIFTON,NaN
76219,2002,28.0,POLICE OFFICER,1998-09-28,MALE,1998-09-28,54672.0,1998-09-28,D|1,CAREER SERVICE,GLYNN,NaN,MICHAEL,J
76220,2002,35.0,POLICE OFFICER,2001-12-17,MALE,2001-12-17,36984.0,2001-12-17,D|1,CAREER SERVICE,MASEY,NaN,JAY,R
76221,2002,30.0,POLICE OFFICER,2001-08-27,MALE,2001-08-27,46872.0,2001-08-27,D|1,CAREER SERVICE,STORR,NaN,SCOTT,W
76222,2002,24.0,POLICE OFFICER,2000-09-11,MALE,2000-09-11,49548.0,2000-09-11,D|1,CAREER SERVICE,SZCZUROWSKI,NaN,PIOTR,NaN
76223,2002,26.0,POLICE OFFICER,1999-05-10,MALE,1999-05-10,54672.0,1999-05-10,D|1,CAREER SERVICE,LOPEZ,NaN,DENIS,NaN
76224,2002,25.0,POLICE OFFICER,1995-06-05,FEMALE,1995-06-05,57426.0,1995-06-05,D|1,CAREER SERVICE,GOUSIOS,NaN,MICHELLE,C
76225,2002,38.0,POLICE OFFICER,2000-09-11,MALE,2000-09-11,49548.0,2000-09-11,D|1,CAREER SERVICE,MYTHEN,NaN,STEPHEN,C
76226,2002,24.0,POLICE OFFICER,2000-08-14,MALE,2000-08-14,49548.0,2000-08-14,D|1,CAREER SERVICE,GADZIK,NaN,NATHAN,D
76227,2002,31.0,POLICE OFFICER,2002-09-30,FEMALE,2002-09-30,36984.0,2002-09-30,D|1,PROBATIONARY CAREER SERVICE,CHRISTENSEN,NaN,AMY,A
76228,2002,25.0,POLICE OFFICER,1998-08-31,FEMALE,1998-08-31,54672.0,1998-08-31,D|1,CAREER SERVICE,KOLSSAK,NaN,JILL,M
76229,2002,39.0,POLICE OFFICER,1996-09-03,MALE,2000-12-18,49548.0,2000-12-18,D|1,CAREER SERVICE,MOLAS,JR,ENRIQUE,P
76230,2002,23.0,POLICE OFFICER,2002-09-30,MALE,2002-09-30,36984.0,2002-09-30,D|1,PROBATIONARY CAREER SERVICE,WARREN,NaN,DANIEL,E
76231,2002,25.0,POLICE OFFICER,1999-08-02,FEMALE,1999-08-02,52092.0,1999-08-02,D|1,CAREER SERVICE,HERRERA,NaN,JUANA,NaN
76232,2002,29.0,POLICE OFFICER,1999-12-13,FEMALE,1999-12-13,52092.0,1999-12-13,D|1,CAREER SERVICE,LEE,NaN,SUNGJOO,NaN
76233,2002,32.0,POLICE OFFICER,2002-02-25,MALE,2002-02-25,36984.0,2002-02-25,D|1,PROBATIONARY CAREER SERVICE,VENTURA,NaN,MARR,C
76234,2002,35.0,POLICE OFFICER,1999-03-08,FEMALE,1999-03-08,54672.0,1999-03-08,D|1,CAREER SERVICE,LACASACALIZ,NaN,SUSANA,NaN
76235,2002,37.0,POLICE OFFICER,2001-05-29,MALE,2001-05-29,49548.0,2001-05-29,D|1,CAREER SERVICE,ODUGBESAN,NaN,BABAFEMI,A