In [1]:
import pandas as pd
import os

In [42]:
df = pd.read_csv("../input/salary.csv")
print(df["Employee.Status"].unique())

['CAREER SERVICE' 'PROBATIONARY CAREER SERVICE' 'SENIOR EXECUTIVE SERVICE'
 'EXEMPT CONFIDENTIAL' 'EXEMPT BY ORDINANCE']

In [18]:
# What are the differences between
# Org.Date (Org Hire Date), Start.Date, and SPP.Date
sd_eq_spp = df.loc[df["Start.Date"] == df["SPP.Date"]]
print(sd_eq_spp.head())
print(sd_eq_spp.shape)
print(sd_eq_spp["Pay.Grade"].unique())

      Last.Name First.Name Middle.Initial Gender  Age.at.Hire           Title  \
0        CLEARY    MICHAEL              P   Male         25.0  POLICE OFFICER
1     LARSON JR     ROBERT              J   Male         25.0  POLICE OFFICER
2         ROSSI     JOSEPH            NaN   Male         26.0  POLICE OFFICER
3         DORAN    PATRICK            NaN   Male         30.0  POLICE OFFICER
4  RAMAKRISHNAN     KARTIK            NaN   Male         33.0  POLICE OFFICER

   Start.Date    SPP.Date Org.Hire.Date   Salary Pay.Grade  \
0  1986-07-14  1986-07-14    2016-06-16  86130.0       D|1
1  2006-07-31  2006-07-31    2014-03-17  75372.0       D|1
2  2013-11-04  2013-11-04    2013-12-03  43104.0       D|1
3  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
4  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1

               Employee.Status  Year
0               CAREER SERVICE  2013
1               CAREER SERVICE  2013
2  PROBATIONARY CAREER SERVICE  2013
3  PROBATIONARY CAREER SERVICE  2013
4  PROBATIONARY CAREER SERVICE  2013
(162352, 13)
['D|1']

In [17]:
sd_eq_od = df.loc[df["Start.Date"] == df["Org.Hire.Date"]]
print(sd_eq_od.head())
print(sd_eq_od.shape)
print(sd_eq_od["Pay.Grade"].unique())

      Last.Name First.Name Middle.Initial Gender  Age.at.Hire           Title  \
3         DORAN    PATRICK            NaN   Male         30.0  POLICE OFFICER
4  RAMAKRISHNAN     KARTIK            NaN   Male         33.0  POLICE OFFICER
5         ENGLE       MARK              M   Male         31.0  POLICE OFFICER
6       PERDOMO      JAIRO            NaN   Male         33.0  POLICE OFFICER
7        STAKEN    MICHAEL            NaN   Male         25.0  POLICE OFFICER

   Start.Date    SPP.Date Org.Hire.Date   Salary Pay.Grade  \
3  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
4  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
5  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
6  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
7  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1

               Employee.Status  Year
3  PROBATIONARY CAREER SERVICE  2013
4  PROBATIONARY CAREER SERVICE  2013
5  PROBATIONARY CAREER SERVICE  2013
6  PROBATIONARY CAREER SERVICE  2013
7  PROBATIONARY CAREER SERVICE  2013
(192096, 13)
['D|1' 'D|2' 'E|3' 'D|2A' 'D|3' 'E|4' 'SR|9752' 'SR|9796' 'SR|9785'
 'EX|9781' 'SR|9780' 'EX|9011' 'EX|9782' 'EX|9756' 'E|5' 'SR|9759'
 'SR|9762' 'SR|9742' 'EX|9701']

In [16]:
spp_eq_od = df.loc[df["SPP.Date"] == df["Org.Hire.Date"]]
print(spp_eq_od.head())
print(spp_eq_od.shape)
print(spp_eq_od["Pay.Grade"].unique())

      Last.Name First.Name Middle.Initial Gender  Age.at.Hire           Title  \
3         DORAN    PATRICK            NaN   Male         30.0  POLICE OFFICER
4  RAMAKRISHNAN     KARTIK            NaN   Male         33.0  POLICE OFFICER
5         ENGLE       MARK              M   Male         31.0  POLICE OFFICER
6       PERDOMO      JAIRO            NaN   Male         33.0  POLICE OFFICER
7        STAKEN    MICHAEL            NaN   Male         25.0  POLICE OFFICER

   Start.Date    SPP.Date Org.Hire.Date   Salary Pay.Grade  \
3  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
4  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
5  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
6  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1
7  2013-12-02  2013-12-02    2013-12-02  43104.0       D|1

               Employee.Status  Year
3  PROBATIONARY CAREER SERVICE  2013
4  PROBATIONARY CAREER SERVICE  2013
5  PROBATIONARY CAREER SERVICE  2013
6  PROBATIONARY CAREER SERVICE  2013
7  PROBATIONARY CAREER SERVICE  2013
(151183, 13)
['D|1' 'EX|9011' 'SR|9785' 'SR|9752' 'EX|9756' 'EX|9782' 'E|3']

In [23]:
df.loc[(df["Start.Date"].notnull()) & (df["Start.Date"].notnull()) & (df["SPP.Date"] < df["Start.Date"])]

Empty DataFrame
Columns: [Last.Name, First.Name, Middle.Initial, Gender, Age.at.Hire, Title, Start.Date, SPP.Date, Org.Hire.Date, Salary, Pay.Grade, Employee.Status, Year]
Index: []

In [26]:
df.loc[(df["SPP.Date"].notnull()) & (df["Start.Date"].notnull()) & (df["SPP.Date"] < df["Start.Date"])]

Empty DataFrame
Columns: [Last.Name, First.Name, Middle.Initial, Gender, Age.at.Hire, Title, Start.Date, SPP.Date, Org.Hire.Date, Salary, Pay.Grade, Employee.Status, Year]
Index: []

In [33]:
df.loc[(df["SPP.Date"].notnull()) & (df["Org.Hire.Date"].notnull()) & (df["Org.Hire.Date"] < df["Start.Date"])]

,Last.Name,First.Name,Middle.Initial,Gender,Age.at.Hire,Title,Start.Date,SPP.Date,Org.Hire.Date,Salary,Pay.Grade,Employee.Status,Year
139,VILLAGOMEZ,OCTAVIO,NaN,Male,36.0,POLICE OFFICER,2013-12-02,2013-12-02,2013-10-07,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
267,GARCIA,GABRIEL,NaN,Male,29.0,POLICE OFFICER,2013-07-15,2013-07-15,2013-05-28,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
548,KIERES,GEOFFREY,NaN,Male,28.0,POLICE OFFICER,2013-03-15,2013-03-15,2013-02-18,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
854,SHAH,ALKESH,K,Male,30.0,POLICE OFFICER,2013-05-01,2013-05-01,2012-09-04,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
979,KIRBY,BRANDON,H,Male,25.0,POLICE OFFICER,2013-02-19,2013-02-19,2012-04-02,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
980,BROOKS,EDWARD,S,Male,35.0,POLICE OFFICER,2013-02-19,2013-02-19,2012-04-02,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
981,BERMUDEZ,MOISES,NaN,Male,30.0,POLICE OFFICER,2012-10-05,2012-10-05,2012-04-02,61530.0,D|1,PROBATIONARY CAREER SERVICE,2013
982,VACI,ANTHONY,J,Male,26.0,POLICE OFFICER,2013-02-19,2013-02-19,2012-04-02,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
983,MENDOZA,FRANCIS,E,Male,39.0,POLICE OFFICER,2013-07-15,2013-07-15,2012-04-02,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
984,HARDING,TENSKAW,R,Male,36.0,POLICE OFFICER,2013-05-01,2013-05-01,2012-04-02,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
985,NUNN,NUMAN,D,Male,26.0,POLICE OFFICER,2012-11-30,2012-11-30,2011-10-24,61530.0,D|1,PROBATIONARY CAREER SERVICE,2013
1030,BERTINI,MICHAEL,NaN,Male,26.0,POLICE OFFICER,2013-03-15,2013-03-15,2011-10-10,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1033,LOCKETT,RAYMOND,NaN,Male,31.0,POLICE OFFICER,2013-05-01,2013-05-01,2010-12-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1034,LOPEZ,TAISA,J,Female,31.0,POLICE OFFICER,2013-12-02,2013-12-02,2010-10-04,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1148,GREENWOOD,CORNELIUS,NaN,Male,29.0,POLICE OFFICER,2013-05-01,2013-05-01,2010-06-28,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1149,FOX,BERNADETTE,NaN,Female,30.0,POLICE OFFICER,2011-10-17,2011-10-17,2010-06-01,65016.0,D|1,CAREER SERVICE,2013
1333,SAYEED,ARSHAD,A,Male,31.0,POLICE OFFICER,2013-11-04,2013-11-04,2008-12-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1357,MORRIS,JENNIFER,R,Female,28.0,POLICE OFFICER,2013-06-03,2013-06-03,2008-06-02,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1452,SANDOVAL,PALOMA,NaN,Female,27.0,POLICE OFFICER,2013-02-19,2013-02-19,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1453,JAROSZEWSKI,JOSEPH,A,Male,26.0,POLICE OFFICER,2013-11-04,2013-11-04,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1454,PEREZ,DAVID,NaN,Male,25.0,POLICE OFFICER,2013-04-01,2013-04-01,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1455,PHELAN,WILLIAM,M,Male,25.0,POLICE OFFICER,2013-02-19,2013-02-19,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1456,ELLIOTT,WILLIAM,S,Male,25.0,POLICE OFFICER,2013-05-01,2013-05-01,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1457,CHAVEZ,TERRI,L,Female,27.0,POLICE OFFICER,2012-10-05,2012-10-05,2007-11-01,61530.0,D|1,PROBATIONARY CAREER SERVICE,2013
1458,ROMERO,GEORGE,L,Male,25.0,POLICE OFFICER,2013-05-01,2013-05-01,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1459,AL FARAH,TENA,A,Female,27.0,POLICE OFFICER,2013-07-15,2013-07-15,2007-11-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1504,DIAZ,PEDRO,L,Male,30.0,POLICE OFFICER,2012-11-30,2012-11-30,2007-10-08,61530.0,D|1,PROBATIONARY CAREER SERVICE,2013
1505,MUSTAFA,MAJID,A,Male,31.0,POLICE OFFICER,2012-10-31,2012-10-31,2007-10-01,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1660,FONG,JASON,P,Male,33.0,POLICE OFFICER,2013-03-15,2013-03-15,2007-07-09,43104.0,D|1,PROBATIONARY CAREER SERVICE,2013
1673,COLLAZO JR,ANGEL,O,Male,29.0,POLICE OFFICER,2012-08-01,2012-08-01,2007-07-09,61530.0,D|1,PROBATIONARY CAREER SERVICE,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
211909,NORWOOD II,JAMES,E,Male,42.0,POLICE OFFICER,2004-09-27,2004-09-27,1996-12-18,75372.0,D|1,CAREER SERVICE,2012
211939,ALLEN,PHOEBE,NaN,Female,37.0,POLICE OFFICER,2001-10-29,2001-10-29,1998-08-18,78012.0,D|1,CAREER SERVICE,2012
211979,LEWIS,BEVERLY,J,Female,24.0,POLICE OFFICER,1992-09-28,1992-09-28,1987-04-01,83706.0,D|1,CAREER SERVICE,2012
211995,KATICH,SKIP,I,Male,27.0,POLICE OFFICER,1996-11-04,1996-11-04,1994-06-13,80724.0,D|1,CAREER SERVICE,2012
212000,GALLAGHER,JAMES,P,Male,28.0,POLICE OFFICER,1996-08-05,1996-08-05,1990-09-28,80724.0,D|1,CAREER SERVICE,2012
212026,NUNN,NUMAN,D,Male,26.0,POLICE OFFICER,2012-11-30,2012-11-30,2011-10-24,43104.0,D|1,PROBATIONARY CAREER SERVICE,2012
212075,PARKER,JEAN,M,Male,29.0,POLICE OFFICER,1987-03-09,1987-03-09,1979-01-16,86130.0,D|1,CAREER SERVICE,2012
212105,RICHARDSON,AJA,D,Female,22.0,POLICE OFFICER,2000-10-10,2000-10-10,1997-06-16,78012.0,D|1,CAREER SERVICE,2012
212155,DINEEN,JOHN,C,Male,27.0,POLICE OFFICER,1999-06-21,1999-06-21,1996-04-16,78012.0,D|1,CAREER SERVICE,2012
212207,STANTON,CHARLES,L,Male,32.0,POLICE OFFICER,1981-03-16,1981-03-16,1976-03-08,89142.0,D|1,CAREER SERVICE,2012
212215,JORDON,BETTY,A,Female,41.0,POLICE OFFICER,1996-12-02,1996-12-02,1994-05-02,80724.0,D|1,CAREER SERVICE,2012
212224,DAILEY,OSCAR,L,Male,40.0,POLICE OFFICER,2000-10-10,2000-10-10,1997-12-16,78012.0,D|1,CAREER SERVICE,2012
212226,COOPER,GARY,NaN,Male,29.0,POLICE OFFICER,1997-07-07,1997-07-07,1992-04-16,80724.0,D|1,CAREER SERVICE,2012
212234,OUTLAW,GREGORY,L,Male,33.0,POLICE OFFICER,1994-10-03,1994-10-03,1990-04-17,80724.0,D|1,CAREER SERVICE,2012
212245,BURNS,ADAM,T,Male,33.0,POLICE OFFICER,1996-05-06,1996-05-06,1982-09-07,80724.0,D|1,CAREER SERVICE,2012
212250,SZETO,PENNY,NaN,Female,24.0,POLICE OFFICER,2007-09-24,2007-09-24,2005-09-16,75372.0,D|1,PROBATIONARY CAREER SERVICE,2012
212266,AGUILAR,LUIS,NaN,Male,38.0,POLICE OFFICER,2000-08-14,2000-08-14,1990-07-23,78012.0,D|1,CAREER SERVICE,2012
212268,GASS,GEORGE,W,Male,25.0,POLICE OFFICER,1997-08-04,1997-08-04,1996-06-17,78012.0,D|1,CAREER SERVICE,2012
212322,BARDSLEY JR,BRIAN,L,Male,34.0,POLICE OFFICER,2004-09-27,2004-09-27,2004-04-02,75372.0,D|1,CAREER SERVICE,2012
212352,WARD,VALERIE,M,Female,32.0,POLICE OFFICER,1994-07-05,1994-07-05,1982-07-26,80724.0,D|1,CAREER SERVICE,2012
212400,ONTIVEROS,ROBERT,A,Male,30.0,POLICE OFFICER,2002-12-02,2002-12-02,1998-12-16,78012.0,D|1,CAREER SERVICE,2012
212409,OCON,ROGELIO,NaN,Male,33.0,POLICE OFFICER,2000-01-24,2000-01-24,1988-08-22,78012.0,D|1,CAREER SERVICE,2012
212448,RIVERA,FIDEL,NaN,Male,25.0,POLICE OFFICER,1992-01-02,1992-01-02,1990-05-25,83706.0,D|1,CAREER SERVICE,2012
212455,SOTO,MARILYN,NaN,Female,36.0,POLICE OFFICER,2005-09-26,2005-09-26,1998-12-01,75372.0,D|1,CAREER SERVICE,2012
212457,LOPEZ,DAVID,NaN,Male,38.0,POLICE OFFICER,2004-11-29,2004-11-29,1998-05-11,75372.0,D|1,CAREER SERVICE,2012
212477,DELVALLE,HECTOR,M,Male,35.0,POLICE OFFICER,1991-03-27,1991-03-27,1990-10-22,83706.0,D|1,CAREER SERVICE,2012
212489,BEY,MORPHEUS,E,Male,37.0,POLICE OFFICER,1997-03-17,1997-03-17,1991-08-01,80724.0,D|1,CAREER SERVICE,2012
212495,COLLAZO JR,ANGEL,O,Male,29.0,POLICE OFFICER,2012-08-01,2012-08-01,2007-07-09,43104.0,D|1,PROBATIONARY CAREER SERVICE,2012
212506,JUDEH,JAMEL,M,Male,29.0,POLICE OFFICER,2012-10-05,2012-10-05,2002-06-21,43104.0,D|1,PROBATIONARY CAREER SERVICE,2012
212517,MOLAS JR,ENRIQUE,P,Male,39.0,POLICE OFFICER,2000-12-18,2000-12-18,1996-09-03,78012.0,D|1,CAREER SERVICE,2012

In [41]:
sd_null = df.loc[df["Start.Date"].isnull()]
print(sd_null.shape)
print(sd_null["Employee.Status"].unique())

(3617, 13)
['SENIOR EXECUTIVE SERVICE' 'CAREER SERVICE' 'PROBATIONARY CAREER SERVICE'
 'EXEMPT CONFIDENTIAL' 'EXEMPT BY ORDINANCE']

In [43]:
spp_null = df.loc[df["SPP.Date"].isnull()]
print(spp_null.shape)
print(spp_null["Employee.Status"].unique())

(46765, 13)
['CAREER SERVICE' 'PROBATIONARY CAREER SERVICE' 'SENIOR EXECUTIVE SERVICE'
 'EXEMPT CONFIDENTIAL' 'EXEMPT BY ORDINANCE']

In [44]:
oh_null = df.loc[df["SPP.Date"].isnull()]
print(oh_null.shape)
print(oh_null["Employee.Status"].unique())

(46765, 13)
['CAREER SERVICE' 'PROBATIONARY CAREER SERVICE' 'SENIOR EXECUTIVE SERVICE'
 'EXEMPT CONFIDENTIAL' 'EXEMPT BY ORDINANCE']

In [35]:
df.loc[df["Org.Hire.Date"].isnull()]

,Last.Name,First.Name,Middle.Initial,Gender,Age.at.Hire,Title,Start.Date,SPP.Date,Org.Hire.Date,Salary,Pay.Grade,Employee.Status,Year
63811,MASON,BRUCE,D,Male,25.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2002
65091,ESPOSITO,RICHARD,J,Male,24.0,POLICE OFFICER,1968-01-08,1968-01-08,NaN,67908.0,D|1,CAREER SERVICE,2002
66838,BLAKE,STEVEN,NaN,Male,37.0,SERGEANT,1983-04-01,NaN,NaN,78450.0,E|3,CAREER SERVICE,2002
66909,WASCO,JOHN,A,Male,21.0,POLICE OFFICER,1970-09-14,1970-09-14,NaN,67908.0,D|1,CAREER SERVICE,2002
70276,JACOB,JOHN,A,Male,35.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2002
70302,BARNES,MISHA,A,Female,26.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2002
71001,VINSON,ALEC,M,Female,46.0,POLICE OFFICER,1986-10-13,1986-10-13,NaN,61512.0,D|1,CAREER SERVICE,2002
71019,FONDREN,ROY,NaN,Male,27.0,POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),1971-07-26,NaN,NaN,71382.0,D|2,CAREER SERVICE,2002
71897,SWIATKOWSKI,DANIEL,F,Male,21.0,POLICE OFFICER,1973-06-04,1973-06-04,NaN,66006.0,D|1,CAREER SERVICE,2002
75750,WOODS,HARVEY,J,Male,23.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2002
75818,DONALD,GLORIA,J,Female,33.0,POLICE OFFICER,1980-09-29,1980-09-29,NaN,63654.0,D|1,CAREER SERVICE,2002
75952,THOMAS,CLEVELAND,NaN,Male,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1973-03-19,NaN,NaN,73476.0,D|2A,CAREER SERVICE,2002
77362,MASON,BRUCE,D,Male,25.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,47808.0,D|1,PROBATIONARY CAREER SERVICE,2003
77545,WIECZOREK,ANDREW,S,Male,39.0,POLICE OFFICER,2003-01-27,2003-01-27,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
78730,ESPOSITO,RICHARD,J,Male,24.0,POLICE OFFICER,1968-01-08,1968-01-08,NaN,69264.0,D|1,CAREER SERVICE,2003
80261,SREBRO,AGNES,E,Female,28.0,POLICE OFFICER,2003-04-28,2003-04-28,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
80579,GERROS,GAVIN,A,Male,26.0,POLICE OFFICER,2003-02-24,2003-02-24,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
80615,BLAKE,STEVEN,NaN,Male,37.0,SERGEANT,1983-04-01,NaN,NaN,82422.0,E|3,CAREER SERVICE,2003
80686,WASCO,JOHN,A,Male,21.0,POLICE OFFICER,1970-09-14,1970-09-14,NaN,69264.0,D|1,CAREER SERVICE,2003
81457,HEDBERG,JULIANNE,NaN,Female,38.0,POLICE OFFICER,2003-01-27,2003-01-27,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
83704,DELGADO,ARTURO,NaN,Male,35.0,POLICE OFFICER,2003-02-24,2003-02-24,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
84261,JACOB,JOHN,A,Male,35.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,47808.0,D|1,PROBATIONARY CAREER SERVICE,2003
84289,BARNES,MISHA,A,Female,26.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,47808.0,D|1,PROBATIONARY CAREER SERVICE,2003
85036,VINSON,ALEC,M,Female,46.0,POLICE OFFICER,1986-10-13,1986-10-13,NaN,62742.0,D|1,CAREER SERVICE,2003
85054,FONDREN,ROY,NaN,Male,27.0,POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),1971-07-26,NaN,NaN,72810.0,D|2,CAREER SERVICE,2003
85419,ANDRIACCHI,DOMINIC,J,Male,38.0,POLICE OFFICER,2003-02-24,2003-02-24,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
89175,STORTZ,JASON,D,Male,25.0,POLICE OFFICER,2003-02-24,2003-02-24,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2003
90139,DONALD,GLORIA,J,Female,33.0,POLICE OFFICER,1980-09-29,1980-09-29,NaN,64926.0,D|1,CAREER SERVICE,2003
90282,THOMAS,CLEVELAND,NaN,Male,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1973-03-19,NaN,NaN,74946.0,D|2A,CAREER SERVICE,2003
91703,MASON,BRUCE,D,Male,25.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,47808.0,D|1,PROBATIONARY CAREER SERVICE,2004
93066,ESPOSITO,RICHARD,J,Male,24.0,POLICE OFFICER,1968-01-08,1968-01-08,NaN,69264.0,D|1,CAREER SERVICE,2004
94904,BLAKE,STEVEN,NaN,Male,37.0,SERGEANT,1983-04-01,NaN,NaN,82422.0,E|3,CAREER SERVICE,2004
94970,WASCO,JOHN,A,Male,21.0,POLICE OFFICER,1970-09-14,1970-09-14,NaN,69264.0,D|1,CAREER SERVICE,2004
95740,HEDBERG,JULIANNE,NaN,Female,38.0,POLICE OFFICER,2003-01-27,2003-01-27,NaN,36984.0,D|1,PROBATIONARY CAREER SERVICE,2004
98503,JACOB,JOHN,A,Male,35.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,47808.0,D|1,PROBATIONARY CAREER SERVICE,2004
98529,BARNES,MISHA,A,Female,26.0,POLICE OFFICER,2002-12-02,2002-12-02,NaN,47808.0,D|1,PROBATIONARY CAREER SERVICE,2004
99271,VINSON,ALEC,M,Female,46.0,POLICE OFFICER,1986-10-13,1986-10-13,NaN,62742.0,D|1,CAREER SERVICE,2004
99286,FONDREN,ROY,NaN,Male,27.0,POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),1971-07-26,NaN,NaN,72810.0,D|2,CAREER SERVICE,2004
104283,DONALD,GLORIA,J,Female,33.0,POLICE OFFICER,1980-09-29,1980-09-29,NaN,64926.0,D|1,CAREER SERVICE,2004
104429,THOMAS,CLEVELAND,NaN,Male,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1973-03-19,NaN,NaN,74946.0,D|2A,CAREER SERVICE,2004
108686,HESTER,MARKITA,Y,Female,36.0,POLICE OFFICER,2005-08-29,2005-08-29,NaN,40830.0,D|1,PROBATIONARY CAREER SERVICE,2005
109046,BLAKE,STEVEN,NaN,Male,37.0,SERGEANT,1983-04-01,NaN,NaN,82422.0,E|3,CAREER SERVICE,2005
111435,REYES,NEIL,A,Male,27.0,POLICE OFFICER,2005-09-26,2005-09-26,NaN,40830.0,D|1,PROBATIONARY CAREER SERVICE,2005
113384,FONDREN,ROY,NaN,Male,27.0,POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),1971-07-26,NaN,NaN,72810.0,D|2,CAREER SERVICE,2005
115839,HODZIC,NEDZAD,NaN,Female,35.0,POLICE OFFICER,2005-08-29,2005-08-29,NaN,40830.0,D|1,PROBATIONARY CAREER SERVICE,2005
118027,MOHIUDDIN,IRFAN,A,Male,34.0,POLICE OFFICER,2005-08-29,2005-08-29,NaN,40830.0,D|1,PROBATIONARY CAREER SERVICE,2005
118379,DONALD,GLORIA,J,Female,33.0,POLICE OFFICER,1980-09-29,1980-09-29,NaN,64926.0,D|1,CAREER SERVICE,2005
122853,HESTER,MARKITA,Y,Female,36.0,POLICE OFFICER,2005-08-29,2005-08-29,NaN,42258.0,D|1,PROBATIONARY CAREER SERVICE,2006
125626,REYES,NEIL,A,Male,27.0,POLICE OFFICER,2005-09-26,2005-09-26,NaN,54636.0,D|1,PROBATIONARY CAREER SERVICE,2006
132134,MOHIUDDIN,IRFAN,A,Male,34.0,POLICE OFFICER,2005-08-29,2005-08-29,NaN,42258.0,D|1,PROBATIONARY CAREER SERVICE,2006
160843,CRUMP,LILLIE,R,Female,35.0,COMMANDER,1984-07-01,2008-03-16,NaN,141888.0,SR|9752,SENIOR EXECUTIVE SERVICE,2008
174122,CRUMP,LILLIE,R,Female,35.0,COMMANDER,1984-07-01,NaN,NaN,141888.0,SR|9752,SENIOR EXECUTIVE SERVICE,2009

In [36]:
df.loc[df["SPP.Date"].isnull()]

,Last.Name,First.Name,Middle.Initial,Gender,Age.at.Hire,Title,Start.Date,SPP.Date,Org.Hire.Date,Salary,Pay.Grade,Employee.Status,Year
1334,KILLEEN,EDWARD,NaN,Male,23.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),2000-08-14,NaN,2008-08-14,84396.0,D|2A,CAREER SERVICE,2013
1364,MUNIZZI,ANTHONY,F,Male,NaN,POLICE OFFICER,NaN,NaN,2008-05-19,75372.0,D|1,PROBATIONARY CAREER SERVICE,2013
1379,MITCHELL,RANITA,L,Female,NaN,POLICE OFFICER,NaN,NaN,2008-05-19,75372.0,D|1,CAREER SERVICE,2013
1592,STRONG,BRYAN,A,Male,30.0,POLICE OFFICER / FLD TRNG OFFICER,1997-08-04,NaN,2007-08-04,84756.0,D|2,CAREER SERVICE,2013
1593,REGAN,JACQUELINE,R,Female,39.0,POLICE OFFICER / FLD TRNG OFFICER,1997-08-04,NaN,2007-08-04,84756.0,D|2,CAREER SERVICE,2013
2054,MCLEMORE,LAVAR,D,Male,NaN,POLICE OFFICER,NaN,NaN,2006-09-25,75372.0,D|1,CAREER SERVICE,2013
2121,NUNN,ROBERT,L,Male,23.0,POLICE OFFICER (ASSIGNED AS TRAFFIC SPECIALIST),1995-08-07,NaN,2006-08-07,84756.0,D|2,CAREER SERVICE,2013
2341,MARTIN,JUDITH,G,Female,25.0,COMMANDER,1983-02-14,NaN,2006-03-28,154932.0,SR|9752,SENIOR EXECUTIVE SERVICE,2013
2365,TRUESDALE,SAMUEL,K,Male,NaN,POLICE OFFICER,NaN,NaN,2006-03-27,75372.0,D|1,CAREER SERVICE,2013
2639,SCHMIDT,RICHARD,T,Male,NaN,POLICE OFFICER,NaN,NaN,2005-10-31,75372.0,D|1,CAREER SERVICE,2013
2763,GOMEZ SANCHEZ,BRENDA,L,Female,NaN,POLICE OFFICER,NaN,NaN,2005-08-29,75372.0,D|1,PROBATIONARY CAREER SERVICE,2013
2834,UDING,BRYON,S,Male,21.0,SERGEANT,1982-08-30,NaN,2005-01-31,90702.0,E|3,CAREER SERVICE,2013
3288,MURPHY,BRIAN,D,Male,NaN,POLICE OFFICER,NaN,NaN,2004-04-26,75372.0,D|1,CAREER SERVICE,2013
3392,AGRON,EDWIN,NaN,Male,NaN,POLICE OFFICER,NaN,NaN,2003-11-24,78012.0,D|1,PROBATIONARY CAREER SERVICE,2013
3454,HARRIS,NICHELLE,R,Female,NaN,POLICE OFFICER,NaN,NaN,2003-10-27,78012.0,D|1,CAREER SERVICE,2013
3509,ALGARIN,JOEL,S,Male,NaN,POLICE OFFICER,NaN,NaN,2003-09-29,78012.0,D|1,CAREER SERVICE,2013
3548,LOPEZ,CANDIDO,NaN,Male,NaN,POLICE OFFICER,NaN,NaN,2003-08-29,78012.0,D|1,CAREER SERVICE,2013
3782,WATSON,GRAYLIN,L,Male,NaN,POLICE OFFICER,NaN,NaN,2002-12-02,78012.0,D|1,CAREER SERVICE,2013
3858,ZUNIGA,JUAN,M,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3859,QUINN III,JOSEPH,F,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3860,ADAMSKI,JERRY,J,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3861,ADELAKUN,NIKTE,E,Female,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3862,LEVEILLE,STEVEN,G,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3863,CULHANE,KEVIN,R,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3864,MENDOZA,MARIO,M,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3865,HURMAN,ANDREW,J,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3866,BERLAGE,JAMES,J,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3867,FRANKLIN,JAMES,D,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3868,GEYER,KEVIN,S,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
3869,ROGUS,WILLIAM,H,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212265,GEHRKE,WILLIAM,C,Male,36.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1986-07-14,NaN,1979-01-01,93192.0,D|2A,CAREER SERVICE,2012
212274,DOMINGUEZ,RUBEN,A,Male,NaN,POLICE OFFICER,NaN,NaN,2002-10-28,78012.0,D|1,CAREER SERVICE,2012
212275,WILLIAMS,TERESA,H,Female,13.0,SERGEANT,1978-02-27,NaN,1986-08-11,102978.0,E|3,CAREER SERVICE,2012
212276,MC CALL,DANIEL,P,Male,25.0,SERGEANT,1995-06-05,NaN,1995-06-05,96648.0,E|3,CAREER SERVICE,2012
212285,JONES,JESSICA,M,Female,24.0,SERGEANT,2001-06-25,NaN,2001-06-25,93708.0,E|3,CAREER SERVICE,2012
212288,FILBIN,MICHAEL,C,Male,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1995-08-07,NaN,1995-08-07,87372.0,D|2A,CAREER SERVICE,2012
212289,ALMDALE,LLOYD,M,Male,34.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1995-12-04,NaN,1995-07-18,87372.0,D|2A,CAREER SERVICE,2012
212296,SWAIN,MATTHEW,W,Male,23.0,SERGEANT,1992-01-02,NaN,1992-01-02,99756.0,E|3,CAREER SERVICE,2012
212297,SCHMIDT,CHRISTOPHE,C,Male,26.0,SERGEANT,1994-09-06,NaN,1994-09-06,96648.0,E|3,CAREER SERVICE,2012
212317,ARGENBRIGHT,THOMAS,W,Male,24.0,COMMANDER,1985-07-01,NaN,1985-07-01,154932.0,SR|9752,SENIOR EXECUTIVE SERVICE,2012
212320,JONES,ROLAND,J,Male,30.0,EXPLOSIVES TECHNICIAN I,1994-05-02,NaN,1994-05-02,96648.0,D|3,CAREER SERVICE,2012
212331,REGAN,JACQUELINE,R,Female,39.0,POLICE OFFICER / FLD TRNG OFFICER,1997-08-04,NaN,2007-08-04,84756.0,D|2,CAREER SERVICE,2012
212334,DANIEL,HEATHER,L,Female,30.0,SERGEANT,2000-02-28,NaN,2000-02-28,93708.0,E|3,CAREER SERVICE,2012
212345,CUMMINS,MICHAEL,S,Male,31.0,SERGEANT,1993-05-17,NaN,1993-05-17,96648.0,E|3,CAREER SERVICE,2012
212355,PENNEY,ERIC,J,Male,27.0,SERGEANT,1991-06-19,NaN,1991-06-19,99756.0,E|3,CAREER SERVICE,2012
212356,LELAND,THOMAS,W,Male,32.0,SERGEANT,1994-10-03,NaN,1994-10-03,96648.0,E|3,CAREER SERVICE,2012
212362,WILSON,STEVEN,F,Male,23.0,SERGEANT,1983-02-14,NaN,1983-02-14,102978.0,E|3,CAREER SERVICE,2012
212389,CORBIN,AYANNA,D,Female,24.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1995-07-10,NaN,1995-07-10,87372.0,D|2A,CAREER SERVICE,2012
212397,HARLING,DAWN,M,Female,28.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1995-07-10,NaN,1995-07-10,87372.0,D|2A,CAREER SERVICE,2012
212404,DIAZ,JOSHUA,NaN,Male,24.0,POLICE OFFICER/EXPLSV DETECT K9 HNDLR,2001-05-29,NaN,2001-05-29,81900.0,D|2,CAREER SERVICE,2012
212413,CHOPP,ERIK,L,Male,29.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),2000-09-11,NaN,2000-09-11,84396.0,D|2A,CAREER SERVICE,2012
212425,HALL,MARYET,N,Female,24.0,SERGEANT,1991-11-18,NaN,1991-11-18,99756.0,E|3,CAREER SERVICE,2012
212427,HOPPS,ROXANA,F,Female,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),2002-04-29,NaN,2002-04-29,84396.0,D|2A,CAREER SERVICE,2012
212431,NOVALEZ,ANGEL,L,Male,28.0,SERGEANT,2000-09-11,NaN,2000-09-11,93708.0,E|3,CAREER SERVICE,2012
212445,GOMEZ,JOSE,A,Male,27.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1991-12-02,NaN,1991-12-02,90540.0,D|2A,CAREER SERVICE,2012
212458,GONZALEZ,RICHARD,NaN,Male,30.0,SERGEANT,1992-09-28,NaN,1992-09-28,99756.0,E|3,CAREER SERVICE,2012
212459,GONZALEZ,ROBERTO,NaN,Male,26.0,SERGEANT,1989-12-26,NaN,1989-12-26,99756.0,E|3,CAREER SERVICE,2012
212476,MONTALVO,LUIS,F,Male,31.0,POLICE OFFICER / FLD TRNG OFFICER,1987-04-13,NaN,1987-04-13,90540.0,D|2,CAREER SERVICE,2012
212492,COLEMAN,JEFFREY,L,Male,28.0,SERGEANT,1994-08-01,NaN,1994-08-01,96648.0,E|3,CAREER SERVICE,2012
212514,KOLSSAK,JILL,M,Female,25.0,POLICE FORENSIC INVESTIGATOR I,1998-08-31,NaN,1998-08-31,93708.0,D|3,CAREER SERVICE,2012